doctype html
html
    include head
    section(class="hero is-primary")
        div(class="hero-body")
            div(class="container")
                h1(class="title")= "bulma-pug"
                h2(class="subtitle")= "Bulma templates in pug!"
        div(class="hero-footer")
            div(class="container")
                nav(class="tabs is-boxed")
                    ul
                        li(class="is-active")
                            a(href="/")= "Overview"
                        li
                            a(href="/modifiers")= "Modifiers"
                        li
                            a(href="/grid")= "Grid"
                        li
                            a(href="/layout")= "Layout"
                        li
                            a(href="/form")= "Form"
                        li
                            a(href="/elements")= "Elements"
                        li
                            a(href="/components")= "Components"
    nav(class="navbar has-shadow")
        div(class="container")
            div(class="navbar-brand")
                if routeName == 'overview'
                    each menuItem in ['customize', 'classes', 'modular', 'responsiveness', 'variables', 'colors', 'functions', 'mixins']
                        a(class="navbar-item is-tab" + (active == menuItem ? ' is-active' : ''), href="/overview/"+menuItem)= menuItem.capitalizeFirstLetter()


                else if routeName == 'modifiers'
                    //helpers.pug
                    //responsive-helpers.pug
                    //syntax.pug
                    //typography-helpers.pug
                else if routeName == 'grid'
                    //columns.pug
                    //tiles.pug
                else if routeName == 'layout'
                    //container.pug
                    //footer.pug
                    //hero.pug
                    //section.pug
                else if routeName == 'form'
                    //checkbox.pug
                    //files.pug
                    //general.pug
                    //input.pug
                    //radio.pug
                    //select.pug
                    //textarea.pug
                else if routeName == 'elements'
                    //box.pug
                    //button.pug
                    //content.pug
                    //delete.pug
                    //icon.pug
                    //image.pug
                    //notification.pug
                    //progress.pug
                    //table.pug
                    //tag.pug
                    //title.pug
                else if routeName == 'components'
                    //breadcrumb.pug
                    //card.pug
                    //dropdown.pug
                    //level.pug
                    //media-object.pug
                    //menu.pug
                    //message.pug
                    //modal.pug
                    //navbar.pug
                    //pagination.pug
                    //panel.pug
                    //tabs.pug

    body
        section(class="section")
            div(class="container")
                block content
    include footer